---
layout: page-classic-sidebar-left
title: Buscar
search_omit: true
---

  <!-- Search form -->
  <form method="get" action="/search" data-search-form>
    <label for="q">Buscar en el Blog</label>
    <input type="search" name="q" id="q" placeholder="Texto a buscar" data-search-input />
    <input type="submit" value="Buscar" />
  </form>

  <!-- Search results placeholder -->
  <p data-search-found>
    <span data-search-found-count></span> resultado(s) encontrados para para &ldquo;<span data-search-found-term></span>&rdquo;.
  </p>
  <div data-search-results></div>



  <!-- Search result template -->
  <script type="text/x-template" id="search-result">
    <div>
      <a href="##Url##">##Title##</a>
      <a href="##Url##">##Date##</a>
      <a href="##Url##">Leer &ldquo;##Title##&rdquo;</a>
    </div>
  </script>

  <!-- jQuery - required but can be moved to the <head> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Search script - Must appear after template -->
  <script src="/scripts/search.js"></script>
